.positive-reviews {
  margin-top: 60px;
}

.positive-reviews-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
  color: #2C2C2C;
}

.positive-review-logo {
  position: absolute;
  top: 10px;
  left: 10px;

}

.positive-reviews-video-blocks {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px;

  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.positive-reviews-video-wrapper {
  position: relative;
}

.positive-review-video {
    width: 30vmax;
    height: auto;
  border-radius: 20px;
  position: relative;
  margin-left: 0;
  margin-right: 0;

  flex: 0 0 auto;
  scroll-snap-align: center;
  border-radius: 12px;
  overflow: hidden;
}

.positive-reviews-video-blocks::-webkit-scrollbar {
  display: none;
  /* приховати скрол */
}

.video-carousel-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}

.carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DED6D8;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: background 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
}

.carousel-btn img {
  width: 9px;
  height: 15px;
}

.carousel-btn.prev {
  left: 30px;
}

.carousel-btn.next {
  right: 30px;
}

.video-carousel-controls .carousel-btn:disabled {
  display: none;
}

.carousel-btn:hover {
  background: #cfc7c9;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: .3s;
}


.video-wrapper {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

}

.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  object-fit: cover;
  /* object-position: center bottom; */
  object-position: 50% 80%;
}

.positive-reviews-video-text {
  margin-top: 1px;
  color: #333;
  padding: 15px 0;
}

.positive-review-title {
  font-size: 12px;
  line-height: 9px;
  margin: 0 0 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.positive-review-description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

.positive-review-prices-wrapper {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.positive-review-new-price {
  color: #f94942;
}

.positive-review-old-price {
  color: #898686;
  margin-left: 8px;
}


@media (min-width: 1440px) {
  .positive-reviews {
    margin-top: 150px;
  }

  .positive-review-video {
    /* flex: 1; */
    width: 15vmax;
    height: auto;
  }

  .positive-reviews-video-blocks {
    margin-top: 50px;
  }

  .positive-reviews-title {
    font-size: 58px;
  }




}
