.product-block {
    margin-top: 60px;
    z-index: 100;
    position: relative;
    background: #F5F5F5;    
}
.product-block-title {
font-weight: 500;
font-size: 24px;
line-height: 1.1;
letter-spacing: 0.01rem;
vertical-align: middle;
color: #2C2C2C;

}
.product-block-subtitle {
margin-top: 5px;
font-family: Piazzolla;
font-weight: 400;
font-style: Italic;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0;
vertical-align: middle;
color: #2C2C2C;

}
.product-block-rating-wrap {
    /* display: flex; */
    margin-top: 10px;
}
.product-block-rating-wrap span{
    display: flex;
    gap: 4px;
    align-items: center;
}
.product-block-rating-servings {
font-weight: 500;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0.1px;
vertical-align: middle;
color: #2C2C2C;

background: #FFFFFF;
border-radius: 50px;
padding: 6px 8px;
width: fit-content;
}
.product-block-rating-content {
font-weight: 500;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0.1px;
vertical-align: middle;
color: #2C2C2C;
margin-top: 5px;
background: #FFFFFF;
border-radius: 50px;
padding: 6px 8px;
width: fit-content;
}
.product-block-rating-content img{
height: 12px;
width: auto;
}

.product-block-carrousel {
    margin-top: 15px;
}
.product-block-description {
    margin-top: 15px;
}
.product-block-description p {
font-weight: 400;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0;
color: #2C2C2C;

}
.product-block-description-list-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-block-description-list-wrap li{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.product-block-description-list-wrap li img {
    width: 15px;
    height: 15px;
}

@media (min-width: 1440px) {
    .product-block-rating-content {
    margin-top: 0px;
    }
.product-block-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.product-block-left {
  position: sticky;
  top: 20px; /* відступ від верху під час скролу */
  align-self: flex-start;
}

/* Правий блок */
.product-block-right {
  flex: 1;
}

.product-block-carrousel {
    width: 620px;
    margin-top: 0;
}
.product-block-carrousel img{
    width: 620px;
}
.product-block-rating-wrap {
    display: flex;
}
.product-block-title {
    font-size: 30px;
}

}
    @media (min-width: 1920px) {
    .product-block-carrousel {
        width: 722px;
    }
        .product-block-carrousel img {
        width: 722px;
    }
    .product-block-title {
        font-size: 58px;
    }
.product-block-subtitle {
    margin-top: 10px;
    font-size: 24px;
}
.product-block-rating-wrap {
    margin-top: 15px;
}
.product-block-description {
    margin-top: 20px;
}
.product-block-description p {
    font-size: 18px;
}
.product-block-description-list-wrap img{
width: 25px;
height: 25px;
}
.product-block-description-list-wrap {
    margin-top: 25px;
    gap: 15px;
}

}
